*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #820ad1;
  display: flex;
}
main{
  width: 450px;
  height: 600px;
  background-color: white;
  margin: 80px auto;
  border-radius: 20px;
}
div{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}